
body {
	padding: 20px;
}
div {
	border: px solid black;
	min-height: 200px;
}

.container {
	min-height: 400px;
}

#gifsHere {
	height: 200px;
}

#inputsHere {
	height: 200px;
}

.teams {
	margin: 5px;
	border-radius: 10px;

}

.imDiv {
	float: left;
	margin: 10px;
	border: px solid black;
}